#detailHead {
	text-align: center; 
	font-weight: bold; 
	font-size: large;
}

#detailText {
	text-align: center; 
    font-size: small;
    font-weight: normal;
}

.fadeContainer{
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: 20px auto;
}
.fadeImage {
	position: absolute;
	width: 100%;
	max-width: 600px;
	opacity: 0;
	transition: opacity 1.5s;
}

.fadeImage:last-child{
	position: relative;
}

.fadeImage.fade{
	opacity: 1;
}