#detailHead {
	text-align: center; 
	font-weight: bold; 
	font-size: normal;
	margin-bottom: .1rem;

	/* opacity: 0;
	animation: 0.3s ease-out 0.3s 1 fadeAnimation both; */
}

#detailText {
	text-align: center; 
    font-size: small;
    font-weight: normal;
	/* opacity: 0;
	animation: 0.3s ease-out 0.3s 1 fadeAnimation both; */
}

.fadeContainer{
	
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: 20px auto;
}
.fadeImage {
	position: absolute;
	width: 100%;
	max-width: 600px;
	opacity: 0;
	transition: opacity 1.5s;
}

.fadeImage:last-child{
	position: relative;
}

.fadeImage.fade{
	opacity: 1;
}

@keyframes fadeAnimation {
	10% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

.scaleIn
{
	/* opacity: 0;
	animation: 0.3s ease-out 0.3s 1 fadeAnimation both; */
}

